@model HabitatForHumanity.Models.Project
@using HabitatForHumanity.ViewModels

@{
    ProjectCategoryDropDownList list = new ProjectCategoryDropDownList();
}

@using (Html.BeginForm("EditProject", "Admin", FormMethod.Post, new { id = "editProjectForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(model => model.status)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.beginDate, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @{
                    //default date methods dont want to cooperate with me
                    //laugh it up chuckles who made MM mean month when yyyy and dd are year and day

                    var reversedDate = Model.beginDate.ToString("yyyy-MM-dd");
                }
                <input type="date" id="beginDate" class="form-control" data-val="true" data-val-date="The field Begin Date must be a date." data-val-required="The Begin Date field is required."
                       name="beginDate" value="@reversedDate" />
                @* @Html.EditorFor(model => model.beginDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @value="2043-1-2" } })*@
                @Html.ValidationMessageFor(model => model.beginDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.categoryId, list.cates)
            </div>
        </div>
    </div>
 }

