@using PagedList.Mvc;
@using HabitatForHumanity.ViewModels;
@model PagedList.StaticPagedList<HabitatForHumanity.Models.Project>

<table style="width:500px">
    <!--Title bar-->
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ElementAt(0).name)</th>
            <th>@Html.DisplayNameFor(model => model.ElementAt(0).description)</th>
            <th>@Html.DisplayNameFor(model => model.ElementAt(0).beginDate)</th>
            <th>@Html.DisplayNameFor(model => model.ElementAt(0).status)</th>
        </tr>
    </thead>
    <!--End of Title bar-->
    <!--List of Projects-->
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.name</td>
                <td>@project.description</td>
                <td>@project.beginDate</td>


                @switch (project.status)
                {
                    case 0:
                        <td>Inactive</td>
                        break;
                    case 1:
                        <td>Active</td>
                        break;
                }

            </tr>
        }
    </tbody>
</table>
<!--End of List of Projects-->
