<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Habitat For Humanity </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 
    @Scripts.Render("~/bundles/jquery")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>
                        <div>
                            <a href='https://habitatwd.org/' data-toggle="tooltip" title="HFH main page">
                                <span>
                                    <img src='~/Images/HFHLogo.jpg' style="width:150px;height:70px;"/>
                                </span>
                            </a>
                        </div>
                    </li>
    @{
        if (Session["Username"] != null && Session["isAdmin"] != null && Session["isAdmin"].Equals("isAdmin"))
        {

            <li>@Html.ActionLink("Dashboard", "Dashboard", "Admin")</li>
            <li>@Html.ActionLink("Volunteers", "Volunteers", "Admin")</li>
            <li>@Html.ActionLink("Time Cards", "TimeCards", "Admin")</li>
            <li>@Html.ActionLink("Projects", "Projects", "Admin")</li>
            <li>@Html.ActionLink("Organizations", "ViewOrganizations", "Admin")</li>
            <li>@Html.ActionLink("Log Out", "Logout", "User")</li>
        }
        else if (Session["Username"] != null)
        {

            <li>@Html.ActionLink("My Account", "VolunteerPortal", "User")</li>
            <li>@Html.ActionLink("Log Out", "Logout", "User")</li>
        }
        else
        {
 
            <li>@Html.ActionLink("Create Account", "VolunteerSignup", "User")</li>
            <li>@Html.ActionLink("Log In", "Login", "User")</li>
            }
            }

        </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" >
        @{
            if (ViewBag.status != null)
            {
                <div class="alert alert-danger text-center" role="alert" style="margin-top: 15px" id="alerts">
                    <h3>@ViewBag.status</h3>
                </div>
            }
        }

        @RenderBody()
        <hr />

        <footer class="HFHFooter">
            <p>&copy; @DateTime.Now.Year - Habitat for Humanity of Davis and Weber Counties</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        // close the div in 5 secs
        window.setTimeout("closeDiv();", 1500);


        function closeDiv() {
            $("#alerts").fadeOut("slow", null);
        }
    </script>
</body>
</html>
