@using HabitatForHumanity.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HFH</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <img src="~/Images/HFHLogo.jpg" class="BannerLogo"/>
    </header>
 
    <div class="navbar navbar-inverse navbar-fixed">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @{  
                        if (Session["isAdmin"] != null && Session["isAdmin"].Equals("isAdmin"))
                        {

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Time Sheet<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Add Time Sheet", "Create", "TimeSheet")</li>
                                    <li>@Html.ActionLink("Edit Time Sheet", "Index", "TimeSheet")</li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Add Project", "Create", "Project")</li>
                                    <li>@Html.ActionLink("Edit Project", "Index", "Project")</li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Organization<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Add Organization", "Create", "Organization")</li>
                                    <li>@Html.ActionLink("Edit Organization", "Index", "Organization")</li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Reports<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Placeholder", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Placeholder", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Placeholder", "Index", "Home")</li>
                                </ul>
                            </li>

                        }
                    }
                </ul>

                @{ if (Session["Username"] != null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><span class="glyphicon glyphicon-user" style="color: #54B948; padding-left:7px">@Html.ActionLink("Edit Profile", "Edit", "User", new {id = Repository.GetUserByEmail((string)Session["Username"]).Id } , null)</span></li>
                            <li><span class="glyphicon glyphicon-log-out" style="color: #54B948; padding-left:3px">@Html.ActionLink("Sign Out", "Logout", "User")</span></li>
                        </ul>
                    }
                    else if (Session["Username"] == null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><span class="glyphicon glyphicon-log-in" style="color: #54B948; padding-left:3px">@Html.ActionLink("Sign In", "Login", "User")</span></li>
                        </ul>
                    }
                }

                </div>
            </div>
    </div>
    <div class="container body-content">

        @{
            if (ViewBag.status != null)
            {
                <div class="alert alert-danger text-center" role="alert" style="margin-top: 15px">
                    <h3>@ViewBag.status</h3>
                </div>
            }
        }

        @RenderBody()
        <hr />
        <footer class="HFHFooter">
            <p>&copy; @DateTime.Now.Year - Habitat for Humanity Weber & Davis Counties </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
