@model List<HabitatForHumanity.ViewModels.EventAddRemoveProjectVM>

<h4>Add Projects to Event</h4>
   
<div class="well">
    @using (Html.BeginForm("AddProjectsToEvent", "HfhEvent"))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @for (int i = 0; i < Model.Count(); i++)
            {
                @Html.HiddenFor(modelItem => Model[i].hfhEventId)
                @Html.HiddenFor(modelItem => Model[i].projectId)
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(modelItem => Model[i].isSelected)
                        @Model[i].projectName
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>




