@model HabitatForHumanity.Models.Waiver

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.signDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.signDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emContFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emContFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emContLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emContLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emContHomePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emContHomePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emContWorkPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emContWorkPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.signature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.signature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
