@model IEnumerable<HabitatForHumanity.Models.Waiver>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.signDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emContFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emContLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emContHomePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emContWorkPhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.signDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emContFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emContLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emContHomePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emContWorkPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
