@model HabitatForHumanity.ViewModels.ProjectVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.project.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.beginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.beginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.project.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
