@model IEnumerable<HabitatForHumanity.ViewModels.ProjDemogReportVM>
@{
    ViewBag.Title = "Project Demographics";
}

<h2>ProjectDemographics</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
      <th>
            @Html.DisplayNameFor(model => model.numVolunteers)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.numHours)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.numStudents)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.numVeterans)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.numDisabled)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.numUnder25k)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.numNative)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.numAsian)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.numBlack)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.numHispanic)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.numHawaiian)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.numWhite)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.male)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.female)
    </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.numVolunteers)
            </td>                         
            <td>
        @Html.DisplayFor(modelItem => item.numHours)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.numStudents)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.numVeterans)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.numDisabled)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.numUnder25k)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.numNative)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.numAsian)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.numBlack)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.numHispanic)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.numHawaiian)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.numWhite)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.male)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.female)
    </td>
            <td>
            </td>
        </tr>
    }

</table>


