@model HabitatForHumanity.Models.Organization
@using (Html.BeginForm("EditOrganization", "Admin", FormMethod.Post, new { id = "editOrganizationForm" }))
{
    <div class="container">
        <div class="row">
            <div>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.status)
                <div class="col-xs-1 col-xs-offset-1">@Html.DisplayNameFor(x => x.name):</div>
                <div class="col-xs-2">@Html.EditorFor(x => x.name)</div>
                @Html.ValidationMessageFor(x => x.name)
            </div>
        </div>
    </div>
}
