@using PagedList.Mvc;
@using HabitatForHumanity.Models
@using HabitatForHumanity.ViewModels
@model PagedList.PagedList<Organization>



@*@ToolKitVM.Modal("Edit Organization", "editOrganizationModal", "editPartial")*@
@ToolKitVM.ModalPreventDefault("editOrganizationModal", "Edit Organization", "editOrgPartial", "editOrganizationForm")

<div id="organizationList" class="container">

    <div class="row">
        <div class="col-xs-4">Name</div>
        <div class="col-xs-4">Status</div>
    </div>

    <div>
        @foreach (var org in Model)
        {
            var opac = 1.0;
            if (org.status == 0)
            {
                //change for disabled orgs opacity
                opac = 0.3;
            }

            var orgId = "org" + org.Id;
            <div id="@orgId" class="row well well-sm" style="margin:1px;opacity:@opac">
                <div class="col-xs-3 text-center">@org.name</div>




                @switch (org.status)
                {
                    case 0:
                        <!--Activate-->
                        @*<div class="col-xs-3">Disabled</div>*@
                        <div class="col-xs-3 text-center">
                            <label class="switch">
                                <input type="checkbox" class="statusSlider" organizationId="@org.Id">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        break;
                    case 1:
                        <!--Deactivate-->
                        @*<div class="col-xs-3">Enabled</div>*@
                        <div class="col-xs-3 text-center">
                            <label class="switch">
                                <input type="checkbox" checked="checked" class="statusSlider" organizationId="@org.Id">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        break;
                }

                @*<div class="col-xs-3">
                        <label class="switch">
                            <input type="checkbox" class="statusSlider" organizationId="@org.Id">
                            <span class="slider round"></span>
                        </label>
                    </div>*@


                <div class="col-xs-3">
                    @ToolKitVM.ModalEditButtonGlyph("editModalButton", "editOrganizationModal", org.Id.ToString(), "Edit")
 
                </div>
            </div>

        }
    </div>
</div>


@ToolKitVM.ButtonScript("editModalButton", "EditOrganization", "Admin", "editOrgPartial")

<script>



    $(".statusSlider").click(function () {
        console.log("clicked");
        var thisSlider = $(this);
        var id = $(this).attr("organizationId");


        if ($(this).is(":checked")) {
            console.log("checked");
            //then project is now active
            var status = 1;
        } else {
            //project is deactive
            var status = 0;
        }


        var data = { "id": id, "status": status }
        //  console.log($(this).attr("organizationId"));

        $.ajax({
            url: "/Admin/ChangeOrganizationStatus",
            type: "POST",
            data: data,
            success: function () {

                if (status == 1) {
                    var orgId = "#org" + id;
                    $(orgId).css("opacity", "1");
                } else {
                    var orgId = "#org" + id;
                    $(orgId).css("opacity", "0.3");
                }

            }
        }
        )
    });

</script>