@using PagedList.Mvc;
@using HabitatForHumanity.Models
@using HabitatForHumanity.ViewModels
@model PagedList.PagedList<Organization>



@ToolKitVM.Modal("Edit Organization", "editOrganizationModal", "editPartial")

<div id="organizationList">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ElementAt(0).name)</th>
                <th>@Html.DisplayNameFor(model => model.ElementAt(0).status)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var org in Model)
            {
                <tr>
                    <td>@org.name</td>
                    
                        @switch (org.status)
                        {
                            case 0:
                                <!--Activate-->
                            <td>
                                <button type="button" class="changeStatus btn greenbtn" organizationId="@org.Id" title="Activate">Enable</button>
                            </td>
                                break;
                            case 1:
                                <!--Deactivate-->
                                <td>
                                    <button class="changeStatus btn redbtn" organizationId="@org.Id" title="Deactivate">Disable</button>
                                </td>
                                break;
                        }
                   


                        <td>
                            <button dataId=@org.Id class="editModalButton btn" data-toggle="modal" data-target="#editOrganizationModal">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit" style="margin-right:5px"></span>Edit
                            </button>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>


<script>

    //changes the status of the organization from active to inactive or vice versa
    $(".changeStatus").click(function () {
        var id = $(this).attr("organizationId");
       // var page = $("#PageNumber").attr("value");
       // var query = $("#queryString").val();
       // var choice = $("#statusChoiceSelector").val();
        console.log(id);
        //console.log(page);
        //console.log(query);
        // console.log(choice);

        var data = { "id": id}
       // var data = { "id": id, "page": page, "statusChoice": choice, "queryString": query }
        $.ajax({
            url: "/Admin/ChangeOrganizationStatus",
            type: "POST",
            data: data,
            success: function (response) {
                 console.log(response);
                $("#organizationList").replaceWith(response);
            }
        })
    });



    //when the edit button is clicked opens a modal and fills out a partial view
    //with relevant model data
    $(".editModalButton").click(function () {
        var id = $(this).attr("dataId");
        var data = { "id": id }
        //console.log(data);
        $.ajax(
            {
                url: "/Admin/EditOrganization",
                type: "GET",
                data: data,
                success: function (response) {
                    //console.log(response);
                    $("#editPartial").html(response);
                }
            });
    })
</script>