@model HabitatForHumanity.ViewModels.TimeCardVM

<div>
    @*<div class="col-md-2">@Model.volName   </div>
    <div class="col-md-2">@Model.orgName   </div>
    <div class="col-md-2">@Model.projName  </div>*@
    <div class="col-md-2"><p>Testing 123</p>  </div>
    <div class="col-md-1">@Model.inTime.ToString("M/dd/yy")    </div>
    <div class="col-md-1">@Model.inTime.ToShortTimeString()    </div>
    <div class="col-md-1">@Model.outTime.ToShortTimeString()   </div>
    <div class="col-md-1 text-center"> @string.Format("{0:N2}", Model.elapsedHrs) </div>
    <div class="col-md-1"><a href="#" onclick="save()" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-save"></span> Save    </a></div>
</div>