@model HabitatForHumanity.ViewModels.UsersVM
@using HabitatForHumanity.ViewModels;

@ToolKitVM.ModalPreventDefault("editTimeCardModal", "Edit Time Card", "editPartial", "editTimeCardForm")

@{
    ViewBag.Title = "Edit Volunteer";
}


@using (Html.BeginForm("EditVolunteer", "Admin"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Volunteer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
               @Html.HiddenFor(model => model.userNumber)
        </div>

        <div class="form-group">
           @Html.LabelFor(model => model.volunteerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.volunteerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.volunteerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.isAdmin, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hoursToDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.hoursToDate, new { htmlAttributes = new { @class = "form-control" } }) Hours
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.waiverStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.waiverStatus, new { htmlAttributes = new { @class = "form-control" }, disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.waiverExpiration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.waiverExpiration, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.timeCardVM[0].volName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.timeCardVM[0].projName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.timeCardVM[0].orgName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.timeCardVM[0].inTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.timeCardVM[0].outTime)
                </th>
                <th>
                    Hours
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.timeCardVM)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.volName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.projName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.orgName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.inTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.outTime)
                    </td>
                    <td>
                        @{
                            TimeSpan span = item.outTime.Subtract(item.inTime);
                            double hours = span.Hours + span.Minutes / 60.0;
                        }
                        <div class="col-md-1 text-center"> @string.Format("{0:N2}", hours) </div>
                    </td>
                    <td>
                        @*@ToolKitVM.ModalButton("editButton", "editModal", editHtml, item.timeId.ToString())*@
                        @ToolKitVM.ModalEditButtonGlyph("editButton", "editTimeCardModal", item.timeId.ToString(), "Edit")
                    </td>
                </tr>
            }

        </table>

<div>
    @Html.ActionLink("Back to List", "volunteers")
</div>


@ToolKitVM.ButtonScript("editButton", "EditTimeCard", "Admin", "editPartial")

