@model HabitatForHumanity.ViewModels.TimeCardSearchModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Time Sheets";
}

@using (Html.BeginForm("TimeCards", "Admin", FormMethod.Get))
{
    @Html.ValidationSummary(false)
    <div style="border-bottom:1px solid #bbb"><h2>Search Time Sheets</h2></div>
    <div class="row" style="margin-top:10px">
        <div class="col-xs-5">
            <div class="input-group" style="width:100px">
                @Html.EditorFor(model => model.queryString, new { htmlAttributes = new { placeholder = "Search", @class = "form-control", @style = "width:auto" } })
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    @*<table style="border:0px; width:500px;">
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.queryString)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.queryString)
                    @Html.ValidationMessageFor(model => model.queryString)
                </div>
            </td>
            <td style="vertical-align:bottom;">
                <input name="SearchButton" type="submit" value="Search" />
            </td>
        </tr>
    </table>*@

    if (Model.SearchResults != null && Model.SearchResults.Count > 0)
    {
        <div class="row">
            <div class="col-md-2"><h4>Volunteer   </h4></div>
            <div class="col-md-2"><h4>Organization</h4></div>
            <div class="col-md-2"><h4>Project     </h4></div>
            <div class="col-md-1"><h4>Date     </h4></div>
            <div class="col-md-1"><h4>Time In     </h4></div>
            <div class="col-md-1"><h4>Time Out    </h4></div>
            <div class="col-md-1"><h4>Hours       </h4></div>
            <div class="col-md-1"></div>

        </div>


        foreach (var card in Model.SearchResults)
        {
            var timeCardId = "timeCard" + card.timeId;
            <div id="@timeCardId" class="row well well-sm divlink" style="margin:1px;">
                <div class="col-md-2">@card.volName   </div> 
                <div class="col-md-2">@card.orgName   </div> 
                <div class="col-md-2">@card.projName  </div> 
                <div class="col-md-1">@card.inTime.ToString("M/dd/yy")    </div> 
                <div class="col-md-1">@card.inTime.ToShortTimeString()    </div> 
                <div class="col-md-1">@card.outTime.ToShortTimeString()   </div>   
                <div class="col-md-1 text-center"> @string.Format("{0:N2}",card.elapsedHrs) </div>
                <div class="col-md-1"><a href="#" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit     </a></div>
           
            </div>
        }




        @*<table class="table" style="width:500px;">
            <tr>
                <th>Volunteer   </th>
                <th>Organization</th>
                <th>Project     </th>
                <th>Time In     </th>
                <th>Time Out     </th>
                <th>Hours       </th>
            </tr>
            @foreach (var card in Model.SearchResults)
            {
                <tr>
                    <td>@card.volName</td>
                    <td>@card.orgName</td>
                    <td>@card.projName</td>
                    <td>@card.inTime</td>
                    <td>@card.outTime</td>
                    <td>@card.elapsedHrs</td>
                </tr>
            }
        </table>*@
        @Html.PagedListPager(Model.SearchResults,
          page => Url.Action("TimeCards", new RouteValueDictionary()
          {
               { "Page", page },
              {"queryString",Model.queryString }
          }),
          PagedListRenderOptions.PageNumbersOnly)
    }

}

