@model HabitatForHumanity.ViewModels.OrganizationSearchModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "ViewOrganizations";
}

@Html.HiddenFor(x => x.Page)

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery-3.2.1.js"></script>

<h2 style="margin-bottom:100px">View Organizations</h2>



<div id="divEmp"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-7">
            <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>   Add new Organization</button>
        </div>


        <!--Search filter options-->
        @using (Html.BeginForm())
        {
            <div class="col-xs-5" style="margin-bottom:30px">
                @Html.DropDownListFor(x => x.statusChoice, Model.statusDropDown, htmlAttributes: new { @class = "form-control", @id = "statusChoiceSelector", @style = "width:auto;float:left;margin-right:10px" })

                <div class="input-group" style="width:100px">
                    @Html.EditorFor(model => model.queryString, new { htmlAttributes = new { placeholder = "Find Organization", @class = "form-control", @style = "width:auto" } })
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>

            </div>
        <!--End of Search Filter-->
        }
    </div>
</div>


@*<div id="editOrg"></div>*@

<div class="container" style="width:auto">
    <div class="row">
        <div class="col-xs-3">Organization Name</div>
        <div class="col-xs-3">Status</div>
        <div class="col-xs-6">Admin stuff goes here</div>
    </div>

    <hr style="border:0.1px solid" />

    <!--List of organizations-->
    <div id="editOrg" style="overflow-y:scroll;overflow-x:hidden;height:300px;width:auto">

        @foreach (var item in Model.SearchResults)
        {
            <div class="row">
                @{ var orgId = "org" + item.Id;}
                <div id="@orgId" class="col-xs-3">@item.name</div>

                @switch (item.status)
                {
                    case 0:
                        <div class="col-xs-3">Inactive</div>
                        break;
                    case 1:
                        <div class="col-xs-3">Active</div>
                        break;

                }


                <!--Admin based controls-->
                <div class="col-xs-6">
                    @switch (item.status)
                    {
                        case 0:
                        <!--Activate-->
                            @Ajax.ActionLink("test", "ChangeOrganizationStatus", new { id = item.Id }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "refresh()" }, htmlAttributes: new { @class = "statusActivate", @style = "margin:0px 20px" })
                            break;
                        case 1:
                        <!--Deactivate-->
                            @Ajax.ActionLink("test", "ChangeOrganizationStatus", new { id = item.Id }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "refresh()" }, htmlAttributes: new { @class = "statusDeactivate", @style = "margin:0px 20px" })
                            break;
                    }
                    <!--Edit Organization-->

                    @Ajax.ActionLink(" ", "EditOrganization", new { id = item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = orgId }, htmlAttributes: new { @class = "editLink" })



                    @Html.ActionLink("Associated Projects", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn-md", @style = "margin:0px 20px;padding:0px" })
                    @Html.ActionLink("Run Report", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn-md", @style = "margin:0px 20px;padding:0px" })

                    <!--End of Admin controls-->


                </div>
                <hr />
            </div>
                    }
    </div>
</div>




@Html.PagedListPager(Model.SearchResults,
              page => Url.Action("ViewOrganizations", new RouteValueDictionary()
                {
                    { "Page", page },
                  {"queryString",Model.queryString }
                }),
              PagedListRenderOptions.PageNumbersOnly)



@* glyphicon glyphicon-ok *@
@* glyphicon glyphicon-ban-circle *@



<script>
    //does magic! sets the html of the editing ajax links to by a glyph icon
    $("document").ready(function () {
        $(".editLink").html("<span class=\"glyphicon glyphicon-pencil\" aria- hidden=\"true\" title=\"Edit\"></span >");
        $(".statusActivate").html("<span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\" style=\"color:green\" title=\"Activate\"></span>");
        $(".statusDeactivate").html("<span class=\"glyphicon glyphicon-ban-circle\" aria-hidden=\"true\" style=\"color:red\"></span>");
    });



    function refresh() {
        location.reload();
    }
</script>

