@model HabitatForHumanity.ViewModels.OrganizationSearchModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "ViewOrganizations";
}


<h2 style="margin-bottom:100px">View Organizations</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>   Add new Organization</button>
        </div>
        <div class="col-lg-4" style="margin-bottom:30px">
            @Html.EditorFor(model => model.queryString, new { htmlAttributes = new { placeholder = "Find Organization" } })
            <button><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-3">Organization Name</div>
        <div class="col-xs-3">Status</div>
        <div class="col-xs-6">Admin stuff goes here</div>
    </div>

    <hr style="border:0.1px solid" />

    @foreach (var item in Model.SearchResults)
    {
        <div class="row">
            <div class="col-xs-3">@item.name</div>

            @switch (item.status)
            {
                case 0:
                    <div class="col-xs-3">Inactive</div>
                    break;
                case 1:
                    <div class="col-xs-3">Active</div>
                    break;

            }


            <!--Admin based controls-->
            <div class="col-xs-6">
                @switch (item.status)
                {
                    case 0:
                    <!--Activate-->
                        <a href="@Url.Action("Index", "Home")" style="margin:0px 20px">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green" title="Activate"></span>
                        </a>
                        break;
                    case 1:
                    <!--Deactivate-->
                        <a href="@Url.Action("Index", "Home")" style="margin:0px 20px" title="Deactivate" id="@item.Id">
                            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true" style="color:red"></span>
                        </a>
                        break;
                }

                <a href="@Url.Action("Index", "Home")">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span>
                </a>

                @Html.ActionLink("Associated Projects", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn-md", @style = "margin:0px 20px;padding:0px" })
                @Html.ActionLink("Run Report", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn-md", @style = "margin:0px 20px;padding:0px" })

            </div>
            <!--End of Admin controls-->


        </div>
        <hr />
    }
</div>



@Html.PagedListPager(Model.SearchResults,
          page => Url.Action("ViewOrganizations", new RouteValueDictionary()
            {
                { "Page", page },
              {"queryString",Model.queryString }
            }),
          PagedListRenderOptions.PageNumbersOnly)



@* glyphicon glyphicon-ok *@
@* glyphicon glyphicon-ban-circle *@