@model List<HabitatForHumanity.Models.WaiverHistory>

@{
    ViewBag.Title = "ViewWaivers";
}

<h2>View Waivers</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.waiverList[0].user_Id)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.First().firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().homePhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().workPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().emailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].waiverSignDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().signatureName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @string.Format("({0}) {1}-{2}"
            , item.homePhoneNumber.Substring(0, 3)
            , item.homePhoneNumber.Substring(3, 3)
            , item.homePhoneNumber.Substring(6, item.homePhoneNumber.Length - 6))
        </td>
        <td>
            @string.Format("({0}) {1}-{2}"
            , item.workPhoneNumber.Substring(0, 3)
            , item.workPhoneNumber.Substring(3, 3)
            , item.workPhoneNumber.Substring(6, item.workPhoneNumber.Length - 6))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.waiverSignDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.signatureName)
        </td>
        <td>
            @Html.ActionLink("Details", "WaiverDetails", new { id=item.Id })
        </td>
    </tr>
}

</table>
