@model HabitatForHumanity.ViewModels.OrganizationSearchModel
@using PagedList.Mvc;
@using HabitatForHumanity.ViewModels;

@{
    ViewBag.Title = "Manage Organizations";
}

@Html.HiddenFor(x => x.Page)
@Html.HiddenFor(x => x.statusChoice)


<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery-3.2.1.js"></script>

<h2 style="margin-bottom:100px">Manage Organizations</h2>



@ToolKitVM.ModalPreventDefault("createOrganizationModal", "Create an Organization", "createOrgPartialDiv", "addOrganizationForm")


<div class="container">
    <div class="row">
        <div class="col-xs-7">
            @ToolKitVM.GenericModalOpenButton("createOrgButton", "createOrganizationModal", "", "Create an Organization", "glyphicon-plus", false)
        </div>


        <!--Search filter options-->
        @using (Html.BeginForm())
        {
            <div class="col-xs-5" style="margin-bottom:30px">
                @Html.DropDownListFor(x => x.statusChoice, Model.statusDropDown, htmlAttributes: new { @class = "form-control", @id = "statusChoiceSelector", @style = "width:auto;float:left;margin-right:10px", onchange = @"form.submit()" })

                <div class="input-group" style="width:100px">
                    @Html.EditorFor(model => model.queryString, new { htmlAttributes = new { placeholder = "Find Organization", @class = "form-control", @style = "width:auto", onchange = @"form.submit()" } })
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>

            </div>
        <!--End of Search Filter-->
        }
    </div>
</div>

<div id="mainPageOrganizationList">
    @{Html.RenderPartial("OrganizationPartialViews/_OrganizationList", Model.SearchResults); }
</div>

@Html.PagedListPager(Model.SearchResults,
              page => Url.Action("ViewOrganizations", new RouteValueDictionary()
                {
                    { "Page", page },
                  {"queryString",Model.queryString },
                  { "statusChoice", Model.statusChoice }
                })
                //,PagedListRenderOptions.PageNumbersOnly
                )



@ToolKitVM.ButtonScript("createOrgButton", "AddOrganization", "Admin", "createOrgPartialDiv")

