@model HabitatForHumanity.ViewModels.OrganizationSearchModel
@using PagedList.Mvc;
@using HabitatForHumanity.ViewModels;

@{
    ViewBag.Title = "Manage Organizations";
    var createHtml = "<span class=\"glyphicon glyphicon-plus\" style=\"color:white\" title=\"Activate\"></span>   Add new Organization";
}

@Html.HiddenFor(x => x.Page)
@Html.HiddenFor(x => x.statusChoice)

@*<style>
        .editButton {
            background: none
        }

        .createButton{
            background-color:forestgreen;
            color:white
        }
    </style>*@

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery-3.2.1.js"></script>

<h2 style="margin-bottom:100px">Manage Organizations</h2>



@ToolKitVM.Modal("Create Organization", "createModal", "createPartial")



<div class="container">
    <div class="row">
        <div class="col-xs-7">
            @ToolKitVM.ModalButton("createButton", "createModal", createHtml, "")
            @*  <button class="btn btn-success" id="createOrganization" data-target="#adminModal" data-toggle="modal"><span class="glyphicon glyphicon-plus" style=""></span>   Add new Organization</button>*@
        </div>


        <!--Search filter options-->
        @using (Html.BeginForm())
        {
            <div class="col-xs-5" style="margin-bottom:30px">
                @Html.DropDownListFor(x => x.statusChoice, Model.statusDropDown, htmlAttributes: new { @class = "form-control", @id = "statusChoiceSelector", @style = "width:auto;float:left;margin-right:10px", onchange = @"form.submit()" })

                <div class="input-group" style="width:100px">
                    @Html.EditorFor(model => model.queryString, new { htmlAttributes = new { placeholder = "Find Organization", @class = "form-control", @style = "width:auto", onchange = @"form.submit()" } })
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>

            </div>
        <!--End of Search Filter-->
        }
    </div>
</div>

<div id="mainPageOrganizationList">
    @{Html.RenderPartial("OrganizationPartialViews/_OrganizationList", Model.SearchResults); }
</div>

@Html.PagedListPager(Model.SearchResults,
              page => Url.Action("ViewOrganizations", new RouteValueDictionary()
                {
                    { "Page", page },
                  {"queryString",Model.queryString },
                  { "statusChoice", Model.statusChoice }
                })
                //,PagedListRenderOptions.PageNumbersOnly
                )



@* glyphicon glyphicon-ok *@
@* glyphicon glyphicon-ban-circle *@



<script>

    $(".createButton").click(function () {
        $.ajax(
            {
                url: '/Admin/AddOrganization',
                type: 'GET',
                success: function (data) {
                    $("#createPartial").html(data);
                }
            });
    });



    $(".editButton").click(function () {
        // console.log('clicked');
        var id = $(this).attr("dataId");
        console.log(id);
        inputData = { 'id': id }

        $.ajax(
            {
                url: '/Admin/EditOrganization',
                type: 'GET',
                data: inputData,
                success: function (response) {
                    $("#editPartial").html(response);
                }
            }
        );

    });



    function refresh() {
        location.reload();
    }
</script>
