@model HabitatForHumanity.ViewModels.VolunteerSearchModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Volunteers";
}

@using (Html.BeginForm("Volunteers", "Admin", FormMethod.Get))
{
    @Html.ValidationSummary(false)
    <div style="border-bottom:1px solid #bbb"><h2>Search Volunteers</h2></div>

    <div class="input-group" style="width:100px">
        @Html.EditorFor(model => model.queryString, new { htmlAttributes = new { placeholder = "Name or email", @class = "form-control", @style = "width:auto; margin:10px" } })
        <span class="input-group-btn">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <!--Search filter options-->
    <div class="col-xs-5" style="margin-bottom:30px">

        @Html.DropDownListFor(model => model.projectId, Model.projects.Projects, new { @class = "form-control", @style = "width:auto;float:left;margin:10px" } )
                

        

    </div>

    if (Model.SearchResults != null && Model.SearchResults.Count > 0)
    {
        <table class="table" style="width:500px;">
            <tr>
                <th>ID</th>
                <th>Volunteer</th>
                <th>Email Address</th>
                <th>Hours to Date</th>
            </tr>
            @foreach (var volunteer in Model.SearchResults)
            {
                <tr>
                    <td>@volunteer.userNumber</td>
                    <td>@volunteer.volunteerName</td>
                    <td>@volunteer.email</td>
                    <td>@volunteer.hoursToDate</td>
                </tr>
            }
        </table>
        @Html.PagedListPager(Model.SearchResults,
          page => Url.Action("Volunteers", new RouteValueDictionary()
          {
               { "Page", page },
              {"queryString",Model.queryString },
              {"projectId", Model.projectId }
          }),
          PagedListRenderOptions.PageNumbersOnly)
    }

}
