@model HabitatForHumanity.ViewModels.VolunteerSearchModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Volunteers";
}

@using (Html.BeginForm("Volunteers", "Admin", FormMethod.Get))
{
    @Html.ValidationSummary(false)
    <div style="border-bottom:1px solid #bbb"><h2>Search Volunteers</h2></div>

    <div class="row">
        <div class="col-md-3" style="margin-top:10px">
            <div class="input-group">
                <div>
                    @Html.EditorFor(model => model.queryString, new { htmlAttributes = new { placeholder = "Name or email", @class = "form-control" } })
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            <!--Search filter options-->
            <div>
                @Html.DropDownListFor(model => model.projectId, Model.projects.Projects, new { @class = "form-control", onchange = @"form.submit()" })
            </div>
            <div>
                @Html.DropDownListFor(model => model.orgId, Model.orgs.Organizations, new { @class = "form-control", onchange = @"form.submit()" })
            </div>
        </div>
        <div class="col-md-9">
            @{if (Model.SearchResults != null && Model.SearchResults.Count > 0)
                {
                    <table class="table" style="width:500px;">
                        <tr>
                            <th>ID</th>
                            <th>Volunteer</th>
                            <th>Email Address</th>
                            <th>Hours to Date</th>
                        </tr>
                        @foreach (var volunteer in Model.SearchResults)
                        {
                            <tr>
                                <td>@volunteer.userNumber</td>
                                <td>@Html.ActionLink(volunteer.volunteerName, "EditVolunteer", "Admin", new { id = volunteer.userNumber }, null)</td>
                                <td>@volunteer.email</td>
                                <td>@volunteer.hoursToDate</td>
                            </tr>
                        }
                    </table>
                    <div class="text-center">
                        @Html.PagedListPager(Model.SearchResults,
                       page => Url.Action("Volunteers", new RouteValueDictionary()
                       {
               { "Page", page },
              {"queryString",Model.queryString },
              {"projectId", Model.projectId }
                       }),
                       PagedListRenderOptions.PageNumbersOnly)
                    </div>

                }
            }
        </div>
    </div>
}
