@model HabitatForHumanity.ViewModels.VolunteerSearchModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Volunteers";
}

@using (Html.BeginForm("Volunteers", "Admin", FormMethod.Get))
{
    @Html.ValidationSummary(false)
    <div style="border-bottom:1px solid #bbb"><h2>Search Volunteers</h2></div>

    <div class="row">
        <div class="col-md-3" style="margin-top:10px">
            <div class="input-group">
                <div>
                    @Html.EditorFor(model => model.queryString, new { htmlAttributes = new { placeholder = "Name or email", @class = "form-control", onchange = @"form.submit()" } })
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            <!--Search filter options-->
            <div>
                @Html.DropDownListFor(model => model.projectId, Model.projects.Projects, new { @class = "form-control", onchange = @"form.submit()" })
            </div>
            <div>
                @Html.DropDownListFor(model => model.orgId, Model.orgs.Organizations, new { @class = "form-control", onchange = @"form.submit()" })
            </div>
        </div>

    </div>
}
<hr />


@{if (Model.SearchResults != null && Model.SearchResults.Count > 0)
    {
        <div class="col-md-7 col-md-offset-2">
            <div>
                <div class="row hidden-xs">
                    <div class="col-md-4">
                        Volunteer
                    </div>
                    <div class="col-md-5">
                        Email Address
                    </div>
                    <div class="col-md-3 text-center">
                        Hours to Date
                    </div>
                </div>
                @foreach (var volunteer in Model.SearchResults)
                {
                    <a href="@Url.Action("ManageVolunteer", "Admin", new { id = volunteer.userNumber })">
                        <div class="row well well-sm divlink" style="margin:1px">
                            <div class="col-md-4">@volunteer.volunteerName</div>
                            <div class="col-md-5">@volunteer.email</div>
                            <div class="col-md-3 text-center">@volunteer.hoursToDate</div>
                        </div>
                    </a>


                        @*<div class="row well well-sm divlink" style="margin:1px">

                                <div class="col-md-3">@Html.ActionLink(volunteer.volunteerName, "EditVolunteer", "Admin", new { id = volunteer.userNumber }, null)</div>
                                <div class="col-md-3">@volunteer.email</div>
                                <div class="col-md-3 text-center">@volunteer.hoursToDate</div>
                            </div>*@

                }
            </div>


        </div>

            <div class="text-center">
                @Html.PagedListPager(Model.SearchResults,
                        page => Url.Action("Volunteers", new RouteValueDictionary()
                        {
                        { "Page", page },
                        {"queryString",Model.queryString },
                        {"projectId", Model.projectId },
                            {"orgId", Model.orgId }
                        })
                       //,PagedListRenderOptions.PageNumbersOnly
                       )
            </div>
    }

}






