@model HabitatForHumanity.ViewModels.PunchOutVM

@{
    ViewBag.Title = "Punch that clock";
}

@using (Html.BeginForm("PunchOut","TimeSheet"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TimeSheet</h4>
        <hr />
        <h1>@Model.timeSheetNumber is the timecard id</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.timeSheetNumber)
        @Html.HiddenFor(model => model.userNumber)
        @Html.HiddenFor(model => model.projectNumber)
        @Html.HiddenFor(model => model.orgNumber)
        @Html.HiddenFor(model => model.inTime)

        @*<div class="form-group">
                @Html.LabelFor(model => model.clockInTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.clockInTime, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.clockInTime, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Clock Out" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>put current time here</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

