@model HabitatForHumanity.ViewModels.DemographicsVM
@{ 
    ViewBag.Title = "DemographicsSurvey";
}

<h2>Demographics Survey</h2>
<p>Please tell us more about yourself. This section is optional. You can decline to answer any or all of these. Any information you provide will be used anonymously to help us better understand our volunteers. Occasionally, the information is also requested for grants and research opportunities. In this case, no personal identifying details are provided with the information below. </p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        @Html.HiddenFor(model => model.volunteerId)

        <div class="form-group">
            @Html.LabelFor(model => model.incomeTier, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.incomeTier, Model.incomeDD.Tiers, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ethnicity, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.ethnicity, Model.ethnicityDD.Tiers, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.collegeStatus, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.collegeStatus, Model.collegeDD.Tiers, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.veteranStatus, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.veteranStatus, Model.veteranDD.Tiers, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.disabledStatus, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.disabledStatus, Model.disabledDD.Tiers, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to MyPortal", "VolunteerPortal")
</div>
