@model IEnumerable<HabitatForHumanity.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homePhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.workPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.streetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.waiverSignDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emergencyFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emergencyLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emergencyHomePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emergencyWorkPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emergencyStreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emergencyCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emergencyZip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homePhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.workPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.streetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.waiverSignDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emergencyFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emergencyLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emergencyHomePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emergencyWorkPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emergencyStreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emergencyCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emergencyZip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
