@model HabitatForHumanity.ViewModels.PortalVM
@using HabitatForHumanity.ViewModels;
@{
    ViewBag.Title = "VolunteerPortal";
    //ViewBag.timeDelay = 100;

}
@{
    if (ViewBag.justPunched != null || ViewBag.justPunched == 1)
    {
        <script>
            //Delays the Modal prom instantly apearing by 100ms
            setTimeout(function () {
            $('#myModal').modal();
            }, 100);

            //Logout click function used by the modal
            function logout(){
               // window.location.href = '/User/Logout/?excMsg=Thank You! Have a Great Day!';
                window.location.href = '@Url.Action("Logout", "User", new {excMsg = "Thank You! Have a Great Day!" })'

            }
            //Stay Logged In click funtion used by the modal
            function stayLoggedIn(){
                clearInterval(interval);
            }
            //Sets and starts the count down timmer for automatic logout
            var seconds_left = 10;
            var interval = setInterval(function() {
                document.getElementById('timer_div').innerHTML =
                    'You will be automatically logged out in: ' + --seconds_left;
                //If timer expires user is logged out and sent to the User/Login
                if (seconds_left <= 0)
                {
                    clearInterval(interval);
                   // window.location.href = '/User/Logout/?excMsg=You have been automatically logged out.';
                    window.location.href = '@Url.Action("Logout", "User", new {excMsg = "You have been automatically logged out." })'

                }
            }, 1000);
        </script>
    }
}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thank you for your service!</h4>
            </div>
            <div class="modal-body">
                <div id="timer_div"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="logout()">Logout Now</button>
                <button type="button" class="btn btn-default" onclick="stayLoggedIn()" data-dismiss="modal">Stay Logged In</button>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center well">
        <h2>@Model.fullName</h2>
        <h3>Volunteer Portal</h3>

    </div>
</div>

<div class="row">
    <div class="col-md-6">@Html.Partial("_Gauge", @Model.cumulativeHours)</div>
    @{
        if (Model.isPunchedIn == false)
        {
            <div class="col-md-6">@Html.Action("_PunchIn", new { id = Model.userId })</div>
        }
        else
        {
            <div class="col-md-6">@Html.Action("_PunchOut", new { id = Model.userId })</div>
        }
    }

</div>
<div class="row">
    <div class="text-center">
        <div>
            <a href="@Url.Action("DemographicsSurvey")" class="btn btn-warning">
                Help us obtain funding by filling out a short survey!
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/OurScripts/user.js"></script>
}