@model HabitatForHumanity.Models.User

@{
    ViewBag.Title = "VolunteerSearch";
}

<h2>Volunteer Search</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })

        @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}